#title, #titleResposta {
    text-align: center;
}

#linguagem {
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 10px;
}

#areaCodigo {
    height: 450px; 
    font-family: monospace;
}

.test-case-area {
    height: 120px;
    font-family: monospace;
}

#areaResposta {
    height: 250px; 
    font-family: monospace;
    background-color: #f0f0f0;
    margin-block-end: 30px;
}

